[submodule "emsdk"]
	path = christensen-GPR460/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "christensen-GPR460/emsdk"]
	path = christensen-GPR460/emsdk
	url = https://github.com/emscripten-core/emsdk.git
